.app {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}
.confirmation {
  max-width: 40vh;
  max-height: 30vh;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgb(201, 190, 170);
  padding: 30px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000000;
}

.plate-right {
  float: right;
}
.plate-left {
  float: left;
}

.createBTN {
  position: fixed;
}
